*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
form{
    height: 80vh;
    width: 40vh;
    background-color: blueviolet;
    display: flex;
    text-align: center;
    justify-content: space-between;
    display: block;
    align-items: center;
    margin-top: 10vh;
    margin-left: 90vh;
    padding-top: 40px;
    position: relative;
}
.conten{
    height: 15%;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

#submet{
    height: 70px;
    width: 100%;
    position: absolute;
    margin-left: 5%;
    margin-bottom: 30px;

}
button{
    height: 30px;
    width: 70%;
    margin-right: 12px;
    cursor: pointer;
}
